<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>面试题库</title>
		<link rel="stylesheet" type="text/css" href="/index/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="/index/css/interview.css"/>
	</head>
	<body>
		<div class="conter-top">
			<div class="ctop-main">
				<div class="ctop-mainleft">
					<img src="/index/img/logo.png" />
					<p>测评中心</p>
				</div>
				<p class="top-button">分享</p>
			</div>
		</div>
		<div class="conter">
			<div class="conter-img">
				<p class="conter-title">你好，欢迎使用让雷评测题库</p>
				<div class="conter-p">
					<p>操作简单、功能强大，能全方位、</p>
					<p>多维度评估员工挖掘员工发展潜力，帮助企业挑选和培养优秀人才</p>
				</div>
			</div>
			<a href="{:url('Index/subject_index')}" class="bule-button">生成题库</a>
			<p class="careful">注意事项</p>
			<p class="careful1">题库为自动生成。分别来自情商，智商，财商，职业测试四个方面</p>
			<p class="careful2">Sogou、360浏览器请用极速模式，如果出现异常无法答题请换一种浏览器,推荐使用Google谷歌浏览器；</p>
		</div>
		<div class="bottom-bottom">
			<ul>
				<li>©2020 Ranglei 版权所有</li>
				<li>沪ICP备1003999号-3</li>
			</ul>
		</div>
	</body>
</html>
